.Ambassador {
  background-color: black;
}
.intro {
  text-align: center;
  padding: 2% 0% 1% 8%;
  font-size: 1.6em;
  color: #996515;
  font-weight: 600;
  text-transform: uppercase;
}

.ambassadorCont {
  max-width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10%;
  padding-left: 10%;
}
.ambassadorCont p {
  max-width: 80%;
  font-size: 1em;
  text-align: justify;
  font-weight: 300;
}
.ambassadorCont img {
  max-width: 250px;
  height: 180px;
}
.aboutAmbassador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 1.5em;
}
.aboutAmbassador h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: #996515;
  margin-right: 7%;
  padding-right: 3%;
  padding-bottom: -3%;
}
.whyAmbassador ul {
  width: 80%;
  line-height: 30px;
  text-align: justify;
  padding-left: 10%;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .ambassadorCont {
    flex-direction: column;
    padding: 1rem 2rem;
    max-width: 100%;
  }
  .ambassadorCont p {
    text-align: center;

    max-width: 100%;
  }
  .ambassadorCont img {
    max-width: 100%;
    height: auto;
  }
}
