.Ambassador {
  background-color: black;
}
.intro {
  padding: 10% 0% 0% 30%;
  font-size: 2em;
  color: #996515;
}

.ambassadorCont {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10%;
  padding-left: 10%;
}
.ambassadorCont p {
  font-size: 1em;
  line-height: 30px;
  text-align: justify;
}
.ambassadorCont img {
  height: 300px;
}
.aboutAmbassador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5em;
}
.whyAmbassador ul {
  width: 80%;
  line-height: 30px;
  text-align: justify;
  padding-left: 10%;
  font-size: 1em;
}
