.teamMotto {
  background-color: black;
  text-align: center;
  font-size: 3.5em;
  padding: 1%;
  color: #996515;
}
.team {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}
.ourTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.teamImage {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 0.4em solid;
  border-bottom: 2px solid #996515;
  transition: all 0.2s ease;
  /* -webkit-border-radius: 500px; */
  /* -moz-border-radius: 500px; */
  /* overflow-clip-margin: content box;
  overflow: cl; */
}
.teamName {
  font-size: 1.5em;
  margin-top: 0.5em;
}
.teamDesc {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.6em;
  color: #996515;
}
