.teamMotto {
  background-color: black;
  text-align: center;
  font-size: 5em;
  padding: 1%;
}
.team {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}
.ourTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.teamImage {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50px;
  border-bottom: 2px solid red;
}
.teamName {
  font-size: 1.5em;
  margin-top: 0.5em;
}
.teamDesc {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.6em;
  color: #996515;
}
