.feature {
  border: 1px solid #000;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/Assets_mfoh/queens_picture/1.jpeg");
  background-repeat: no-repeat;
  background-position: -8rem;
  background-attachment: fixed;
  background-size: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.featureContent {
  width: 40%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.featureContent p {
  color: #fff;
  font-size: 1.5rem;
}

.featureTitle {
  color: #be7b16;
  font-size: 5rem;
  font-weight: 600;
  line-height: 80px;
  text-shadow: 2px 2px 2px rgba(161, 161, 161, 0.482);
}
.featureSubTitle {
  font-size: 4rem;
  color: #fff;
  font-weight: 300;
}

.button {
  background: #996515;
  border: transparent;
  width: max-content;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  -webkit-animation: bounce-top 1s both;
  animation: bounce-top 1s both;
}

.button:hover {
  background: #c8831c;
  cursor: pointer;
  color: #a2a2a2;
}

@media only screen and (max-width: 768px) {
  .feature {
    background-position: 0rem;
    background-size: cover;
  }
  .featureContent {
    width: 100%;
    padding: 0.8rem;
    justify-self: end;
  }

  .featureTitle {
    font-size: 3rem;
    font-weight: 600;
    line-height: 40px;
  }
  .featureSubTitle {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
  }
  .featureContent p {
    color: #fff;
    font-size: 1rem;
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
