.aboutUs {
  padding: 5%;
  background: #1c1c1c;
  overflow: hidden;
  /* background: url("../../assets/Assets_mfoh/queens_picture/one_removebg.png")
    no-repeat left fixed; */
  /* background-color: #000; */
  /* display: flex;
  flex-direction: row;
  justify-content: center;*/
  /* align-items: center; */
}

.contentone {
  max-width: 100%;
  display: flex;
  align-items: center;
  /* background-color: red; */
  padding-right: 2rem;
}
.aboutUs.layout1 .textone {
  max-width: 60%;

  flex: 1;
  text-align: center;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  margin-bottom: 10%;
  margin-top: -8%;
}

.aboutUs.layout1 h1 {
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  align-items: center;
  color: #be7b16;
  padding-right: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(207, 207, 207, 0.6);
}
/* .aboutUs.layout1 .title {
  padding-left: 10%;
} */
/* .aboutUs.layout1 .text {
  flex: 1;
  padding-right: 10px;
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
} */
.aboutUs.layout1 .image img {
  /* max-width: 100%; */
  transform: scale(120%);
  flex: 1;
  margin-bottom: 11%;
}

/* layout 2 */

.aboutUs.layout2 .image {
  max-width: 100%;
  flex-grow: 2;
  /* flex-grow: 2;
  flex: 1;
  padding-bottom: -10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem; */
  transform: scale(100%);

  /* max-width: 100%; */

  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: 10%;
}
.contenttwo {
  display: flex;
  flex-direction: row;
}
/* .aboutUs.layout2 {
  display: flex;
  align-items: center;
  gap: 70px;
} */
/* .aboutUs.layout2 .title {
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 20%;
  text-transform: uppercase;
} */

.aboutUs.layout2 .texttwo {
  flex: 1;
  /* max-width: 50%; */
  /* flex-grow: 2; */
  /* padding-right: 10px;
  line-height: 30px;
  font-weight: 200;
  font-size: 20px; */

  /* flex-grow: 2; */
}

.aboutUs.layout3,
.aboutUs.layout4 {
  text-align: center;
}
.aboutUs.layout3 .image3 img {
  max-width: 15%;
  /* align-items: center;
  align-content: center; */
  margin-left: 40%;
  /* margin-right: 2rem; */
}
.aboutUs.layout3 .text {
  flex: 1;
  padding-right: 10px;
  /* line-height: 30px; */
  font-weight: 200;
  /* font-size: 20px; */
  font-size: 1rem;
}

.aboutUs.layout4 .text {
  flex: 1;
  padding-right: 10px;
  /* line-height: 30px; */
  font-weight: 200;
  /* font-size: 20px; */
  padding-top: 10px;
  margin-top: 15px;
}
.aboutUs.layout4 .title {
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #be7b16;
  text-shadow: 1px 1px 1px rgba(207, 207, 207, 0.6);
}

@media only screen and (max-width: 768px) {
  .aboutUs.layout1 .contentone {
    flex-direction: column;
  }

  .aboutUs {
    width: 100%;
  }
  .aboutUs.layout1 .textone {
    max-width: 80%;
    /* flex: 1;
    text-align: center;
    padding: 4rem 2rem 0rem -8rem;
    display: flex;
    flex-direction: column; */
    /* gap: 1rem; */
    /* margin-bottom: 10%;
    margin-top: -8%; */
    /* display: flex;
    text-align: start;
    flex: none; */
    padding: 4rem 2rem 2rem 0rem;
  }
  .contentone {
    max-width: 100%;
    display: flex;
    align-items: start;
    /* background-color: red; */
  }

  /* .aboutUs.layout2 {
    flex-direction: column;
  } */
}

@media screen and (max-width: 300px) {
  /* .aboutUs.layout1 .text {
    
    font-size: 10px;
  } */
}
