.aboutUs {
  padding: 5%;
  background: #1c1c1c;
}

.aboutUs.layout1 .content {
  max-width: 80%;
  display: flex;
  align-items: center;
  gap: 30%;
  margin-top: 20px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 5%;
}
/* .aboutUs.layout1 .title {
  padding-left: 10%;
} */
.aboutUs.layout1 .text {
  flex: 1;
  padding-right: 10px;
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
}
.aboutUs.layout1 .image img {
  max-width: 100%;
  transform: scale(120%);
}

.aboutUs.layout2 {
  display: flex;
  align-items: center;
  gap: 70px;
}
.aboutUs.layout2 .title {
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 20%;
  text-transform: uppercase;
}

.aboutUs.layout2 .text {
  flex: 1;
  padding-right: 10px;
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
}

.aboutUs.layout3,
.aboutUs.layout4 {
  text-align: center;
}
.aboutUs.layout3 .image img {
  max-width: 25%;
}
.aboutUs.layout3 .text {
  flex: 1;
  padding-right: 10px;
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
}

.aboutUs.layout4 .text {
  flex: 1;
  padding-right: 10px;
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
  /* padding-top: 10px; */
  margin-top: 15px;
}
.aboutUs.layout4 .title {
  font-weight: 800;

  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .aboutUs.layout1 .content {
    flex-direction: column;
  }
  .aboutUs.layout2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  /* .aboutUs.layout1 .text {
    
    font-size: 10px;
  } */
}
