.applicationContMain {
  background-color: black;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  /* padding: 20px; */
  padding: 3%;
}

.appyContainer .description {
  font-size: 2rem;
  text-align: center;
  padding-top: 2%;
  color: #996515;
  font-weight: 700;
}

.appyContainer .requirement {
  max-width: 100%;
  padding: 2% 5%;
}
.appyContainer .requirement .requirementTitle {
  font-size: 1.5em;
  color: #614d2f;
  text-align: center;
  font-weight: 400;
}

.requirement .requirementBody {
  font-size: 1em;
  text-align: justify;
  font-weight: 400;
}
.requirementBody p {
  padding: 20px 0px 10px 20px;
}
.requirementBody ul {
  padding: 20px 0px 0px 50px;
}
.requirementBody ol {
  padding: 20px 0px 0px 50px;
}
.requirementBody li {
  padding: 20px 0px 0px 50px;
  list-style-type: square;
}
@media screen and (max-width: 700px) {
  .appyContainer .requirement {
    text-align: center;
    max-width: 100%;
  }
  .requirement .requirementBody {
    text-align: center;
  }
  .requirementBody ol {
    padding: 1rem 0.5rem;
  }
  .requirementBody ul {
    padding: 1rem 0.5rem;
  }
}
