.footer {
  background-color: black;
  /* margin-top: 150px; */
  border-top: 1px solid red;
  height: 7vh;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.links {
  @media only screen and (max-width: 768px) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}
